.wrapper {
}

.gallery-display-area {
}

.gallery-wrap {
}
.gallery-wrap-input {
    width: 100%;
    padding-bottom: 16px;
}

.wrap-input {
    width: 100%;
    position: relative;

    input {
        width: 100%;
        padding: 8px 12px;
        display: block;
        color: #495057;
        font-size: 1.5rem;
        line-height: 1.5;
        border: 1px solid transparent !important;
        border-radius: 5px;
        background-color: #fff;
        background-clip: padding-box;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    input:focus {
        border-color: #ffb280;
        box-shadow: 0 0 0 0.3rem rgb(255 101 0 / 25%);
    }
}

.wrap-warning-icon {
    position: absolute;

    display: none;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;

    .warning-icon {
        width: 100%;
        font-size: 1.6rem;

        color: #dc3545;
    }
}

.wrap-check-icon {
    position: absolute;

    display: none;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;

    .check-icon {
        width: 100%;
        font-size: 1.6rem;

        color: #28a745;
    }
}

.warning-input {
    font-size: 1.1rem;

    color: #dc3545;

    .warning-username-input {
        padding-top: 5px;
        display: none;
    }
}
