.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 15px;
    color: #9b9b9b;
    line-height: 1.625;
    background-color: var(--black);
}

.gallery-display-area {
    width: var(--default-layout-width);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer_logo {
    width: 17.1%;
    padding: 0 15px;

    min-height: 100px;

    img {
        margin-bottom: 10px;
    }
}

.footer_contacts {
    width: 65.8%;
    padding: 0 15px;
}

.category-link {
    border-bottom: 1px solid var(--text-color);
    line-height: 2;
    margin-bottom: 16px;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        font-size: 1.5rem;

        a:hover {
            color: var(--button-color-hover);
        }
    }
}

.about-infomation {
    span {
        font-size: 1.35rem;
        display: block;
        margin-bottom: 16px;
    }
}

.footer_about {
}
.btnIcon {
    font-size: 2.5rem;
    margin-left: 10px;
}

// footer - about

.footer_about {
    width: 17.1%;
    padding: 0 15px;
    color: var(--white);

    font-size: 1.6rem;

    span {
        margin-left: 10px;
    }
}

.btnFacebook {
    font-size: 3rem;

    .btnFacebook-icon:hover {
        color: var(--button-color);
        cursor: pointer;
    }
}
.btnMessage {
    padding: 5px 16px;
    display: inline-block;
    border-radius: 20px;
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    margin: 6px 0;

    a,
    .iconMessage,
    span {
        color: var(--white);
    }
}
.btnPhone {
    padding: 6px 16px;
    display: inline-block;
    border-radius: 20px;
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
}
